/*more data theme BUT EVERYTHING IS THEMED*/
:root[data-theme="light"] {
  /*BAACKGROUNDS*/
  --bg-primary: #e8e8e8;
  --bg-secondary: #c4c4c4;
  --bg-card: #d9d9d9;
  --bg-display: #bebebe;
  --bg-nav: #a8a8aa;

 /*THEE TEXT*/
 --text-primary: #202020;
 --text-secondary: #c4c4cc;
 
 /*the ui elemennts*/
 --border: #9e9e9e;
 --shadow: rgb(0, 0, 0);
 --button-bg: #e5e5e5;
 --button-hover: #5a5a5a;
}

