/*more data theme BUT EVERYTHING IS THEMED*/
:root[data-theme="light"] {
  /*BAACKGROUNDS*/
  --bg-primary: #e8e8e8;
  --bg-secondary: #c4c4c4;
  --bg-card: #d9d9d9;
  --bg-display: #bebebe;
  --bg-nav: #a8a8aa;

 /*THEE TEXT*/
 --text-primary: #202020;
 --text-secondary: #c4c4cc;
 
 /*the ui elemennts*/
 --border: #9e9e9e;
 --shadow: rgb(0, 0, 0);
 --button-bg: #e5e5e5;
 --button-hover: #5a5a5a;
}

/*for dark mode-backgrounds*/
:root[data-theme="dark"] {
  --bg-primary: #1a1a1a;
  --bg-secondary: #2c2c2c;
  --bg-card: #242424;
  --bg-display: #1e1e1e;
  --bg-nav: #333333;

  /*THEE TEXT*/
 --text-primary: #f5f5f5;
 --text-secondary: #d1d1d1;
 
 /*the ui elemennts*/
 --border: #404040;
 --shadow: rgb(0, 0, 0, 0.5);
 --button-bg: #3a3a3a;
 --button-hover: #4a4a4a;
}


/*another one but retro*/
:root[data-theme="retro"] {
  --bg-primary: #ffffff;
  --bg-secondary: #cccccc;
  --bg-card: #ffffff;
  --bg-display: #ffffff;
  --bg-nav: #cccccc;

 /*THEE TEXT*/
 --text-primary: #000000;
 --text-secondary: #333333;
 
 /*the ui elemennts*/
 --border: #ffffff;
 --shadow: rgb(0, 0, 0);
 --button-bg: #e5e5e5;
 --button-hover: #5a5a5a;
}



